
<div class="container">
  <label>Day</label>
  <input type="text" class="form-control" [(ngModel)] = "Day">
  <label>Month</label>
  <input type="text" class="form-control" [(ngModel)] = "Month">
  <label>Year</label>
  <input type="text" class="form-control" [(ngModel)] = "Year">
  <input type="button" class="btn btn-success active mt-2" value="Rechercher"(click)="refreshImages()">
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div *ngIf="errorCatch == true" class="alert alert-danger fade show" role="alert">
      <strong>ERROR : </strong> l'API n'a rien renvoyé. Verifier la date.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngFor="let image of images" class="card bg-info text-light col-3 d-flex flex-column justify-content-between mt-3 ml-3">
      <app-list-images-item [marsImage]="image" class="img-mars"></app-list-images-item>
      <div class="card-footer">
        <button class="btn btn-success align-self-end" ngbPopover="Ajouter!" (click)="onClick($event.target)">Ajouter aux favoris</button>
      </div>
    </div>
  </div>
</div>